.cart-item-loader {
  position: relative;
  overflow: hidden;

  .cart-img-div {
    background: #cdcdcd;
    box-shadow: 1px 3px 5px #ddd;
    border-radius: 5px;
    @include for-mobile {
      width: 70px !important;
      
    }
  }
  .card-content {
    p {
      background: #cdcdcd;
      height: 18px;
      width: 200px;
      &:nth-child(odd) {
        width: 147px;
      }
    }
    .btn-grp {
      button {
        width: 90px;
        height: 30px;
        background: #cdcdcd;
      }
    }
  }
}
