.login-main {
  .login-body {
    background: #275a57;
    height: 100vh;
    padding: 20px;
    display: grid;
    place-items: center;
  }
  .login-wrap {
    background: radial-gradient(circle, #235940 0%, #000000 70%);
    height: 80%;
    width: 80%;
    border-radius: 20px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    @include for-mobile {
      flex-direction: column;
      height: 100%;
    }
    .login-container {
      padding: 20px;
      color: aliceblue;
      width: 50%;

      @include for-mobile {
        width: 100%;
      }
      .wrapper {
        display: flex;
        flex-direction: column;
        // background: rgba(255, 255, 255, 0.0588235294);
        border-radius: 20px;
        // box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.333333);
        padding: 20px;
        width: 80%;
        margin: auto;
        color: #ffffffd9;
        height: 100%;
        @include for-mobile {
          width: 100%;
        }
        .form-con {
          .form-grp {
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;

            label {
              margin-bottom: 6px;
              font-size: 13px;
            }
            input {
              caret-color: #ffffff;
              color: #fff;
              border-radius: 6px;
              border: none;
              padding: 5px;
              font-weight: 300;
              background: radial-gradient(black, #0000007d);
              box-shadow: 2px 3px 6px #ffffff47;
              background: transparent;
            }
            a {
              text-align: right;
              color: #0fbd6c;
            }
          }
        }
        .btn-grp {
          text-align: center;
          margin-top: 40px;
          button {
            border: none;
            border-radius: 10px;
            width: 50%;
            padding: 6px;
            color: #ffffffd9;
            background: linear-gradient(180deg, #009550, #1f4c36);
            box-shadow: 1px 3px 7px #000401b8;
            transition: all 0.3s ease-in-out;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
            img {
              filter: invert(1);
              width: 20px;
              margin-left: 10px;
            }
            &:hover {
              box-shadow: 1px 0px 7px #57ffef;
            }
          }
        }
      }
    }
    .shop-info-container {
      width: 50%;
      padding: 20px;
      @include for-mobile {
        width: 100%;
      }
      .wrapper {
        position: relative;
        display: flex;
        justify-content: center;
        height: 100%;
        @include for-mobile {
          flex-direction: column;
        }
      }
      .top-con {
        position: absolute;
        background: linear-gradient(138deg, #43b17e, #43b17e);
        border-radius: 7px;
        top: -100px;
        width: 80%;
        height: 110%;
        padding: 20px;
        font-weight: 500;
        color: #fff;
        @include for-mobile {
          position: relative;
          top: 0px;
          height: auto;
          width: 100%;
        }
      }
      .bottom-con {
        position: absolute;
        background: #ffffff;
        width: 70%;
        padding: 20px;
        bottom: -24px;
        border-radius: 6px;
        @include for-mobile {
          position: relative;
          bottom: -10px;
          // height: auto;
          width: 100%;
          display: none;
        }
      }
    }
  }
}
.form-error {
  font-size: 12px;
  color: tomato;
  margin-top: 3px;
}
.error {
  box-shadow: 1px 1px 4px #ff2121 !important;
}
