.footer {
  margin-bottom: 10px;
  padding: 20px;
  color: #f1f0f0;
  background: $footer-bg;
  .comp {
    margin-bottom: 35px;
    img {
      width: 50px;
      filter: drop-shadow(2px 4px 6px #fff6);
    }
    span {
      margin-left: 10px;
      font-size: 20px;
    }
  }
  .footer-header {
    display: flex;
    // align-items: center;
    justify-content: start;
    .footer-card {
      margin-right: 20px;
      padding: 10px;
      border-radius: 4px;
      background: rgba(120, 107, 107, 0.1490196078);
      display: flex;
      width: 20%;
      box-shadow: 0px 2px 7px #ffffff4f;
      @include for-mobile {
        width: 30%;
        flex-direction: column;
      }
      .footer-img {
        width: 50%;
        display: grid;
        place-items: center;
        @include for-mobile {
          width: 100%;
          flex-direction: column;
          img {
            width: 45px;
          }
        }
      }
      .f-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        @include for-mobile {
          width: 100%;
        }
        .p_value {
          font-size: 26px;
          font-weight: 500;
        }
      }
    }
  }
  .footer-content {
    .wrapper {
      display: flex;
      justify-content: start;
      flex-wrap: wrap;
      gap: 80px;
      margin: 30px 0px;
    }
    .general {
      display: flex;
      flex-direction: column;
      width: 25%;
      text-align: center;
      @include for-mobile {
        width: 35%;
      }
    }
  }
}
