.landing-main {
  height: 120vh;
  background: $bg-color;
  .landing-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 30px;
    background: $main-white;
    .header-logo {
      display: flex;
      align-items: center;
      div {
        box-shadow: 2px 3px 6px #cbc4c4;
        border-radius: 50%;
        padding: 8px;
        height: 50px;
        width: 50px;
        background: linear-gradient(155deg, #a8d9ff, #ffffffd6);
      }
      img {
        filter: drop-shadow(2px 3px 6px #0006);
        width: 40px;
      }
      span {
        margin-left: 10px;
        font-size: 24px;
        font-weight: bold;
        color: $text-heading-color;
      }
    }
    .header-list {
      padding: 10px;
      width: 50%;
      margin: 0;
      a {
        text-decoration: none;
        color: inherit;
      }
      .cart {
        position: relative;
        background: transparent;
        width: auto;
        img {
          filter: drop-shadow(2px 3px 4px #646363);
        }
        .dot {
          position: absolute;
          height: 18px;
          width: 18px;
          border-radius: 50%;
          background: linear-gradient(45deg, #ffeb3b, #ffc107);
          font-size: 12px;
          top: -3px;
          left: -5px;
          font-weight: 500;
          box-shadow: -0.5px 1px 4px #3f51b5;
        }
      }
      li {
        margin-right: 10px;
        background: $bg-color;
        padding: 8px;
        width: 15%;
        text-align: center;
        border-radius: 3px;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
          box-shadow: 2px 4px 6px $shadow;
          letter-spacing: 0.4px;
        }
      }
    }
  }

  .landing-body {
    margin-top: 20px;
    padding: 20px;
    .wrapper {
      display: flex;
      justify-content: space-between;
      @include for-mobile {
        flex-direction: column;
      }
      .content-con {
        width: 50%;
        padding: 10px;
        border-radius: 3px;
        @include for-mobile {
          width: 100%;
        }
        h1 {
          color: $text-heading-color;
          font-size: 30px;
        }
        .products-con {
          // height: 100%;
          margin: 50px 0px;
          .products {
            position: relative;
            height: 100%;
            .product-outer {
              position: absolute;
              // -webkit-animation: rotate_animation 3s infinite;
              &:hover {
                box-shadow: 0px 0px 5px pink;
                // -webkit-animation: rotate_animation 3s  infinite;
              }
            }
            .p1 {
              display: grid;
              place-items: center;
              left: 38%;
              top: 0;
              border-radius: 50%;
              overflow: hidden;
              width: 150px;
              height: 150px;
              box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.168627451);
              padding: 3px;
              border: 10px solid;
              border-color: yellow #19caff #ff00c8 #00ff1f;
              @include for-tab {
                width: 120px;
                height: 120px;
              }
            }
            .product-inner {
              width: 100%;
              height: 100%;
              border-radius: 50%;
              overflow: hidden;
              margin: 5px;
              box-shadow: -1px 0px 5px 1px #42474a47;
            }
            img {
              height: 100%;
            }
            .p2 {
              display: grid;
              place-items: center;
              left: 6%;
              top: 20px;
              border-radius: 50%;
              overflow: hidden;
              width: 90px;
              height: 90px;
              box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.168627451);
              padding: 3px;
              border: 10px solid;
              border-color: #44e3be;
              @include for-tab {
                width: 80px;
                height: 80px;
              }
            }
            .p3 {
              display: grid;
              place-items: center;
              right: 6%;
              top: 20px;
              border-radius: 50%;
              overflow: hidden;
              width: 90px;
              height: 90px;
              box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.168627451);
              padding: 3px;
              border: 10px solid;
              border-color: #44e3be;
              @include for-tab {
                width: 80px;
                height: 80px;
              }
            }
            .p4 {
              display: grid;
              place-items: center;
              right: 15%;
              top: 160px;

              border-radius: 50%;
              overflow: hidden;
              width: 90px;
              height: 90px;
              box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.168627451);
              padding: 3px;
              border: 10px solid;
              border-color: #44e3be;
              @include for-tab {
                width: 80px;
                height: 80px;
              }
            }
            .p5 {
              display: grid;
              place-items: center;
              left: 15%;
              top: 170px;
              width: 90px;
              height: 90px;
              border-radius: 50%;
              overflow: hidden;

              box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.168627451);
              padding: 3px;
              border: 10px solid;
              border-color: #44e3be;
              @include for-tab {
                width: 80px;
                height: 80px;
              }
            }
            .p6 {
              display: grid;
              place-items: center;
              left: 43%;
              top: 230px;
              width: 90px;
              height: 90px;
              border-radius: 50%;
              overflow: hidden;
              box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.168627451);
              padding: 3px;
              border: 10px solid;
              // border-color: yellow #19caff #ff00c8 #00ff1f;
              border-color: #44e3be;
              @include for-tab {
                width: 80px;
                height: 80px;
              }
            }
          }
        }
      }
      .img-con {
        width: 50%;
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include for-mobile {
          width: 100%;
        }
        .main-img {
          height: 100%;
          transition: all 0.3s ease;
          // visibility: hidden;
          &:hover {
            transform: translateX(-10px) scale(1.01, 1);
            filter: drop-shadow(10px 5px 10px rgba(153, 151, 151, 0.568));
          }
        }
        .brand-name {
          // margin-left: 90px;
          p {
            margin: 0px;
          }
          .social-con {
            border-top: 1px solid #00bcd4;
            margin-top: 10px;
            .social {
              margin-top: 5px;
              div {
                background: $main-white;
                padding: 5px;
                border-radius: 4px;
                box-shadow: 2px 3px 5px $shadow;
                margin-right: 10px;
                width: 30px;
                cursor: pointer;
                transition: all 0.3s ease;
                img {
                  transition: all 0.3s ease;
                  width: 100%;
                }

                &:hover {
                  transform: translateY(-3px);

                  box-shadow: 2px 4px 10px #808080;
                  // border: 1px solid $main-white;
                }
              }
            }
          }
        }
      }
    }

    .all-products {
      background: $main-white;
      padding: 10px 20px;
      border-radius: 4px;
      // margin-top: 100px;
      display: flex;

      .all-product-body {
        width: 85%;
        background: $bg-color;
        margin-left: 10px;
        .search-con {
          background: $main-white;
          padding: 10px;
          display: flex;
          align-items: center;
          .search {
            position: relative;
            width: 30%;
            input {
              border: none;
              // box-shadow: 0px 0px 4px #d0eaff;
              box-shadow: 2px 3px 3px #00000021;
              padding: 6px 10px;
              width: 100%;
              border-radius: 30px;
              border: 2px solid $bg-color;
            }
            img {
              position: absolute;
              right: 10px;
              width: 28px;
              top: 4px;
              &.cross {
                cursor: pointer;
                width: 24px;
                top: 10px;
                -webkit-animation: zoomAnimation 0.5s ease-in-out;
              }
            }
          }
        }
        .product-wrapper {
          gap: 10px;
          padding: 10px;
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
        }
      }
    }
  }
}
