$main-white: #fff;
$main-black: #000;
// $bg-color: #f6fbff;
$bg-color: #eaf6ffc2;
$text-color: #7a7a66;
$text-heading-color: #1c5768;
$border-color: #ddd;

//header
$shadow: #8080802b;

//footer
$footer-bg:#051318;
